body {
  background-color: rgb(253, 251, 251);
  font-family: Cursive, Arial, Helvetica, sans-serif;
  font-size: small;
  color: rgb(29, 29, 29);
  line-height: 25px;
}

#cabecalho {
  position: fixed;
  top: 0;
}

nav {
  display: inline-block;
  width: auto;
  padding: 3px;
  margin-top: 40px;
}

nav li {
  display: inline-block;
  width: auto;
  padding: 3px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.lado-esquerdo {
    display: inline-block;
    width: 40%;
    text-align: justify;
    border: 1px solid black; 
    padding: 2.5%;
}

.lado-direito {
    display: inline-block;
    width: 40%;
    text-align: justify;
    border: 1px solid black; 
    padding: 2.5%;
}

